<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Previous Brainhack Donosti Editions</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2018.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2018 </h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Organizing committee: Maddi Ibarbia, Piermatteo Morucci, Sanjeev Nara, Polina Timofeeva.</p>
				    <p class = "text-muted">Scientific committee: Lucia Amoruso, Nicola Molinaro, Craig Richter, Dana Scarinci, Maite Termenon</ p>
				    <p class = "text-muted"> Scientific and Organizing committee: César Caballero-Gaudes (Chair), Stefano Moia (Chair), Borja Blanco, Matteo Diano, James Hartzell, Usman Ayub Sheikh.</ p>                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2019.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2019</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Board: Stefano Moia (Co-chair), Polina Timofeeva (Co-chair), Teresa Esteban, Vicente Ferrer, Candice Frances, Jordi Martorell, Carlos Pérez-Serrano. </p>

				    <p class = "text-muted">Volunteers: Daniel Alcalá, Jose Aguasvivas, Nicoletta Biondo, Matteo Diano, Sandra Gisbert, James Hartzell, Maddi Ibarbia, Ning Mei, Jose Pérez-Navarro, Eneko Uruñuela, Manuel Carreiras. </ p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2020.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2020</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Board: Eneko Uruñuela (Chair), Stefano Moia (Ex-chair), Polina Timofeeva (Ex-chair), Daniel Alcalá, Jose Aguasvivas, César Caballero-Gaudes, Vicente Ferrer, Alberto Furgoni, Marta García, Chiara Luna Rivolta. </p>
				    <p class= "text-muted">Volunteers: Hülya Aldemir, Irene Arrieta, Catherine Clark, Florent Dueme, Teresa Esteban, Candice Frances, Meritxell García, Shuang Geng, Sandra Gisbert, Garikoitz Lerma-Usabiaga, Mengxing Liu, Ning Mei, Piermatteo Morucci, Carlos Pérez-Serrano, Ileana Quiñones, Trisha Thomas, Manuel Carreiras. </ p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2021.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2021</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Volunteers: Irene Arrieta (Chair), Chiara Luna Rivolta (Chair), Eneko Uruñuela (Ex-chair), Hülya Aldemir, Karen Arellano, César Caballero-Gaudes, Amaia Carrión, Inés Chavarría, Florent Dueme, Laura Fernández-Merino, Vicente Ferrer, Alberto Furgoni, Garikoitz Lerma-Usabiaga, Lucía Manso, Piermatteo Morucci, José Pérez-Navarro, Abraham Sánchez, Manuel Carreiras. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2020.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2022</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Hana, Abraham, Eneko, Inés, Patxi, Gari, Ning, César, Lucía, Laura, Mengxing, Manuela, Hulya, Ane, Leandro</ p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of 
                                    <br>BHD 2023!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
