<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Previous Brainhack Donosti Editions</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2018.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2018 </h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chairs: César Caballero-Gaudes & Stefano Moia.</p>
				    <p class = "text-muted">Team: Lucia Amoruso, Usman Ayub Sheikh, Borja Blanco, Manuel Carreiras, Matteo Diano, James Hartzell, Maddi Ibarbia, Nicola Molinaro, Piermatteo Morucci, Sanjeev Nara, Craig Richter, Dana Scarinci, Maite Termenon, Polina Timofeeva.</ p>                                
				</div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2019.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2019</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chairs: Stefano Moia & Polina Timofeeva.</p>
				    <p class = "text-muted">Team: Jose Aguasvivas, Daniel Alcalá, Nicoletta Biondo, Manuel Carreiras, Matteo Diano, Teresa Esteban, Vicente Ferrer, Candice Frances, Sandra Gisbert, James Hartzell, Maddi Ibarbia, Jordi Martorell, Ning Mei, Jose Pérez-Navarro, Carlos Pérez-Serrano, Eneko Uruñuela. </ p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2020.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2020</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chair: Eneko Uruñuela. </p>
				    <p class= "text-muted">Team: Jose Aguasvivas, Daniel Alcalá, Hülya Aldemir, Irene Arrieta, César Caballero-Gaudes, Manuel Carreiras, Catherine Clark, Florent Dueme, Teresa Esteban, Vicente Ferrer, Candice Frances, Alberto Furgoni, Marta García, Meritxell García, Shuang Geng, Sandra Gisbert, Garikoitz Lerma-Usabiaga, Mengxing Liu, Ning Mei, Stefano Moia, Piermatteo Morucci, Carlos Pérez-Serrano, Ileana Quiñones, Chiara Luna Rivolta, Polina Timofeeva, Trisha Thomas. </ p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2021.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2021</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chairs: Irene Arrieta & Chiara Luna Rivolta. </p>
				    <p class= "text-muted">Team: Hülya Aldemir, Karen Arellano, César Caballero-Gaudes, Manuel Carreiras, Amaia Carrión, Inés Chavarría, Florent Dueme, Laura Fernández-Merino, Vicente Ferrer, Alberto Furgoni, Garikoitz Lerma-Usabiaga, Lucía Manso, Piermatteo Morucci, José Pérez-Navarro, Abraham Sánchez, Eneko Uruñuela. </ p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2020.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BHD 2022</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                             <div class="timeline-body">
                                    <p class="text-muted">Chairs: Lucía Manso & Hana Zjakic. </p>
				    <p class= "text-muted">Team: Hülya Aldemir, César Caballero-Gaudes, Manuel Carreiras, Inés Chavarría, Patxi Elsosegi, Laura Fernández-Merino, Ane Gurtubay-Antolin, Garikoitz Lerma-Usabiaga, Leandro Lecca, Ning Mei, Mengxing Liu, Manuela Ruzzoli, Abraham Sánchez, Eneko Uruñuela. </ p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image" "text-yellow">
				    <h4><a  href=https://forms.gle/2TNdvvh9zHKcMMYJ8>Be Part</a>
                                    <br><a href=https://forms.gle/2TNdvvh9zHKcMMYJ8>Of </a>
				    <br> <a href=https://forms.gle/2TNdvvh9zHKcMMYJ8> BHD 2023! </a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
