<!-- Clients Aside -->
<aside class="clients">
    <style>
        .logo-img {
            height: 200px; /* Adjust height as needed */
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img src="img/logos/bcbllogo.png" class="img-centered logo-img" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img src="img/logos/paisvasco.png" class="img-centered logo-img" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img src="img/logos/upvlogo.png" class="img-centered logo-img" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>

