<!DOCTYPE html>
<html>

<!-- Services Section -->
    <section id="conduct">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
			<h1 class="section-heading">Donostia-San Sebastián, Spain </h1>
                    
                    <hr>
                    <h3 class="section-heading">What is Brainhack Donostia?</h3>

                    <p class="text-muted" style="font-size: 20px"> A gender-balanced board of researchers from BCBL invites you to join a three-day in-person workshop focused on project development to foster new ideas, findings and future collaborations. In addition, we will host four international keynote speakers that will share their experience on state of the art methods, good practices in science and hot topics in research nowadays. By doing so, we will continue to grow our contributions towards sharing knowledge openly and transparently across disciplines and specialties, and to the development of open-source tools. <br />
                    Accessibility to science is an important objective for BHD and we are determined in making this year's event more inclusive and open. Following last year's organization, a real-time transcription system will be provided during all talks and tutorials in order to ensure fluid and intelligible subtitles for deaf and hard of hearing participants. This system is also a valuable aid for all those participants who are not native speakers of English. <br /> 
                    BHD will award travel grants to help cover travel and registration costs for the event. Through these travel awards we want to encourage and promote the participation of junior scientists who have less access to fundings. Awards will be assigned based on statements of purposes provided by the participants themselves, which will be assessed by our committee. If you would like to be considered for one of these travel grants, feel free to click on the following button and to fill out the form. You will be asked to write a short statement of purpose on why you believe this grant could help you attend BHD. <br />
                    The deadline for the statement of purpose submission is the 8th of November. The grants consist in refunds for travel or registration costs after the event. If you have any questions about this process, feel free to contact us at info.bhg-donostia@bcbl.eu .</p>
                    
                    <div class="container">
                        <div class="intro-text">
                            <div class="intro-lead-in"></div>
                            <div class="intro-heading"> </div>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1XKLjjoWOijNUmaY_wfUedkBsZLeGJJVhEn05VCzeJdWTbQ/viewform" class="page-scroll btn btn-xl">I want to apply for a travel grant!</a> 
                        </div>
                    </div>
                    <hr>

                    <h3 class="section-heading">
                    Open Science projects in Neurosciences  </h3>
                    
                    <p class="text-muted" style="font-size: 20px"> Brainhack Donostia is not an ordinary conference but an event focused on cooperation and collaboration in Neuroscience, as well as the promotion of Open Science. Our aim is to explore the multiple applications of neuroscience from a cross-disciplinary perspective. With this goal in mind, we bring together students, researchers, users, and non-academic industry professionals to learn about and develop collaborative projects. BHD is an opportunity to learn new skills and create long-lasting collaborations with interesting people from various backgrounds with a strong interest in Open Science. <br />
                    These projects are proposed by the attendees for the attendees, and can be in any stage of development (i.e, it can be just an idea). Any attendee can propose any number of project, but can only lead one. The presenter of the project is responsible for making sure that anyone can contribute to the project, regardless of their level of expertise and background knowledge in programming. If possible, the project leaders should try to define some 'beginners' tasks'. We firmly believe that every single one of the attendees has something valuable to contribute to any project and we can't wait to see what it will be!</p>
                    <hr>
                    
                    <h3 class="section-heading">
                    <a href="https://brainhack.org/global2024/">Brainhack Global</a></h3>
                    <p class="text-muted" style="font-size: 20px">Brainhack Donostia is part of a larger initiative that holds simultaneous events all over the world with this same goal. A cornerstone of Brainhack is the promotion of responsible research and innovation in an inclusive, open, and transparent manner. Accordingly, knowledge sharing activities and the use of open-source resources are two of the basic tenets of Brainhack. <br />
                    Through talks, hands-on tutorials, and the development of projects, attendees actively explore and learn how to manage data acquisition using different neuroimaging techniques such as Magnetic Resonance Imaging (MRI), Magneto-/Electroencephalography (M/EEG), or Near-Infrared Spectroscopy (NIRS).</p>
                    <hr>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Invited speakers</h4>
                    <p class="text-muted">  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open source projects</h4>
                    <p class="text-muted"> </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community building</h4>
                    <p class="text-muted">.</p>
                </div>
                    <div class="container">
                        <div class="intro-text">
                            <div class="intro-lead-in"></div>
                            <div class="intro-heading"> </div>
                            <a href="https://github.com/brainhackorg/global2024/issues/new?assignees=&labels=project&template=project-submission-template.yml" class="page-scroll btn btn-xl">I want to propose a project!</a> 
                        </div>
                    </div>
            </div>
        </div>
    </section>

</html>
