<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <p style="color:GhostWhite;">Do you have any questions about Brainhack Donostia 2023?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="color:GhostWhite;">You can get in touch with us at info.bhg-donostia[at]bcbl.eu</p>
            </div>
            <div class="col-lg-12">
                <div class="address">
                    <h4 style="color:Yellow;">Location:</h4>
                    <p style="color:GhostWhite;">Mikeletegi Pasalekua, 69, 1st floor <br />20009 Donostia - San Sebastián, Gipuzkoa</p>
                 </div>
             </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.9549036511044!2d-1.9886958875522907!3d43.294266075450366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd51afe05db924a1%3A0xaa992e65461e64d7!2sBCBL%20-%20Basque%20Center%20on%20Cognition%2C%20Brain%20and%20Language!5e0!3m2!1sen!2ses!4v1693842794987!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
