<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us TEST</h2>
                <p style="color:GhostWhite;">Do you have any questions about Brainhack Donostia 2025?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="color:GhostWhite;">You can get in touch with us at <a href="mailto:info.bhg-donostia@bcbl.eu">info.bhg-donostia@bcbl.eu</a></p>
            </div>
            <div class="col-lg-12">
                <div class="address">
                    <h4 style="color:Yellow;">Location:</h4>
                    <p style="color:GhostWhite;">Av. de Tolosa, 72 <br />20018 Donostia - San Sebastián, Gipuzkoa</p>
                 </div>
             </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2775.48544950752!2d-2.008429987711039!3d43.30602213811058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd51b0734616c1bd%3A0xfaa13e02409a5c7e!2sJoxe%20M%C2%AA%20Korta%20zentroa%20%2F%20Centro%20Joxe%20M%C2%AA%20Korta%2C%20Tolosa%20Hiribidea%2C%2072%2C%2020018%20AB7%2C%20Gipuzkoa%2C%20Espa%C3%B1a!5e0!3m2!1ses-419!2snl!4v1752773320800!5m2!1ses-419!2snl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
