 <!-- Portfolio Modals -->
 {% assign talks = site.posts | where_exp: "post", "post.title != ''" | sort: 'modal-id' %}
 {% for post in talks %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% if post.img and post.img != "" %}
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% else %}
                            <div class="modal-photo-pending">
                                <i class="fa fa-user"></i>
                                <span>Photo coming soon</span>
                            </div>
                            {% endif %}
                            <p>{{ post.description }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<style>
  .modal-photo-pending {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 600 / 450;
    margin: 0 auto;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8a8a8a;
  }
  .modal-photo-pending .fa {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .modal-photo-pending span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
</style>
