<!--
<section id="program">
	<div class="verticalhorizontal">
        <img src="img/portfolio/ProgramBHD2024.png" />
	</div>
    </section>
-->
<section id="program" class="text-center py-5 bg-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 custom-yellow fw-bold">BH2025 PROGRAM</h1>
        <h3 class="custom-yellow mb-3">November 19–21, 2025</h3>
        <h2 class="white mb-3">We're actively working on the program. <br>
			Stay tuned!</h2>
      </div>
    </div>
  </div>
</section>

<style>
  .custom-yellow {
    color: #ffeb2b;
  }

  .white {
    color: #ffffff;
    text-transform: none; /* Ensure no uppercase styling is forced */
  }
</style>
