<!--
<section id="program">
	<div class="verticalhorizontal">
        <img src="img/portfolio/ProgramBHD2024.png" />
	</div>
    </section>
-->
<section id="program" class="text-center py-5 bg-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 custom-yellow fw-bold">BHD2025 PROGRAM</h1>
        <h3 class="custom-yellow mb-3">November 19–21, 2025</h3>
        <h2 class="white mb-3"> 
		<!--
			The table is inserted inside a h2 class. If taken away you have to 
			better declare the table class
		-->

<table>
    <tr>
        <th>Hours</th>
        <td>Wednesday (19th)</td>
        <td>Thursday (20th)</td>
        <td>Friday (21st)</td>
    </tr>
    <tr>
        <th>8:30-9:00</th>
        <td>Registration</td>
    </tr>
    <tr>
        <th>09:00 - 09:30</th>
        <td>Welcome Session</td>
        <td rowspan="4"> Project Time</td>
        <td rowspan="4">Project Time</td>
    </tr>
    <tr>
        <th>9:30-10:00</th>
        <td rowspan="3">Iñigo Urrestarazu</td>
    </tr>
    <tr>
        <th>10:00-10:30</th>
    </tr>
    <tr>
        <th>10:30-11:00</th>
    </tr>
    <tr>
        <th>11:00 - 11:30</th>
        <td colspan="3">COFFEE BREAK</td>
    </tr>
    <tr>
        <th>11.30 - 12:00</th>
        <td>Project Pitch</td>
        <td rowspan="3">Nicholas Souter</td>
        <td rowspan="3">Jean Remi-King</td>
    </tr>
    <tr>
        <th>12:00-12:30</th>
        <td rowspan="2">Project Kick-off</td>
    </tr>
    <tr>
        <th>12:30-13:00</th>
    </tr>
    <tr>
        <th>13:00 - 13:30</th>
        <td rowspan="2" colspan="3">LUNCH BREAK</td>
    </tr>
    <tr>
        <th>13:30-14:00</th>
    </tr>
    <tr>
        <th>14:00 - 14:30</th>
        <td rowspan="3">Inês Almeida</td>
        <td>Unconference</td>
        <td>Unconference</td>
    </tr>
    <tr>
        <th>14:30- 15:00</th>
        <td rowspan="4">Project Time</td>
        <td rowspan="4">Project Time</td>
    </tr>
    <tr>
        <th>15:00-15:30</th>
    </tr>
    <tr>
        <th>15:30 - 16:00</th>
        <td rowspan="2">Project Time</td>
    </tr>
    <tr>
        <th>16:00-16.30</th>
    </tr>
    <tr>
        <th>16:30 - 17:00</th>
        <td colspan="3">COFFEE BREAK</td>
    </tr>
    <tr>
        <th>17:00 - 17:30</th>
        <td rowspan="3">Project Time</td>
        <td rowspan="3">Project Time</td>
        <td rowspan="2">Project Results</td>
    </tr>
    <tr>
        <th>17:30-18:00</th>
    </tr>
    <tr>
        <th>18:00-18:30</th>
        <td>Closing Remarks</td>
    </tr>
    <tr>
        <th>18:30 Onwards</th>
        <td>Meet and Greet</td>
        <td>Social</td>
    </tr>
</table>
      </div>
    </div>
  </div>
</section>

<style>
  .custom-yellow {
    color: #ffeb2b;
  }

  .white {
    color: #ffffff;
    text-transform: none; /* Ensure no uppercase styling is forced */
  }
</style>
