<!DOCTYPE html>
<html>

<!-- Services Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">BHD 2024 | Projects</h1>
			<p class="text-muted"> Take a look at BHD2024's projects and propose your own by clicking the button below! </p>
                    <hr>
                    
		    <!-- divition for project-->
		    <h3 class="section-heading">Spyking AI: building a cortical inspired network <br/> <a href="https://github.com/marco7877/"> (@marco7877)</a> </h3>

		    <p class="text-muted"> This project aims to build a Tensorflow wrapper to build and train spiking neuron arrays connected though hebbian conections. This tool is proposed to study neural mechanisms during cognitive events, i.e., language production/comprehension </p>
		    <h3 class="section-subsubheading text-muted">
			    Goals</h3>
		    <p class="text-muted"> Build a spiking neuron python class<br />
Build a hebbian learning python class<br />
Test module with one hot vectors labels<br /> </p>
		    <hr>

		    <h3 class="section-heading">Bayes and Bach: An RNN-powered affair <br/> <a href="https://github.com/qtabs/BayesPlusBach/"> (@qtabs)</a> </h3>

		    <p class="text-muted"> In this project will train RNNs to perceive sequences of tones or chords from noisy versions of Bach's compositions and study whether the networks learn to predict the next tone. </p>
		    <h3 class="section-subsubheading text-muted">
			    Goals</h3>
		    <p class="text-muted"> Train RNNs to perceive sequences of tones or chords from noisy versions of Bach's compositions <br />
Study whether the networks learn to predict the next tone <br />
Learn how to curate and retrieve data Learn how to train state-of-the-art neural network models<br /> 
Learn how to curate and retrieve data Learn how to train state-of-the-art neural network models<br /> </p>
		    <hr>

		   <h3 class="section-heading"> EEL-Hack: Learning to develop an mTRF pipeline with eelbrain <br/> <a href=""> (@)</a> </h3>

		    <p class="text-muted"> In this project we will learn how to use the Python toolbox ‘Eelbrain’, addressing all the necessary steps to compute mTRF (data organization, predictor setting, etc.) on a publicly available EEG dataset. </p>
		    <h3 class="section-subsubheading text-muted">
			     Goals</h3>
		    <p class="text-muted"> Train RNNs to perceive sequences of tones or chords from noisy versions of Bach's compositions <br />
Understand how mTRF method works <br />
Understand how Eeelbrain works<br /> 
Writing and editing scripts to prepare the data and fit an mTRF<br /> </p>
		    <hr>
			
		    <!-- division for button -->
		    <div class="container">
                        <div class="intro-text">
                            <div class="intro-lead-in"></div>
                            <div class="intro-heading"> </div>
                            <a href=" https://github.com/brainhackorg/global2023/issues" class="page-scroll btn btn-xl">See all Brainhack Git project page </a> 
                        </div>
                    </div>
                                   </div>
            </div>
       </div>
</html>
