<!-- Registration -->
<section id="registration_main">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading">Registration is now open!</h1>
        <hr>

        <p class="text-muted" style="font-size: 20px;">
          We are excited to announce that registration for Brainhack Donostia 2025 is now open!   
         
          Register now to secure your spot!
   
        
        </p>
        <hr>

        <!-- Register button centered -->
        <div style="text-align:center; margin: 30px 0;">
          <a href="registration.html" class="page-scroll btn btn-xl">Register here!</a>
        </div>

        <!-- Expected participants table -->
        <div class="table-container" style="display:flex; justify-content:center;">
          <table class="table is-bordered is-striped is-hoverable"
                 style="background-color:white; width:90%; max-width:900px; font-size:1.5rem; text-align:left;">
            <thead style="background-color:black; color:white;">
              <tr>
                <th>Expected participants</th>
                <th><u>BCBL/EHU</u></th>
                <th>Externals</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Early bird fee valid until 15.10.2025</strong></td>
                <td>10 €</td>
                <td>20 €</td>
              </tr>
              <tr>
                <td><strong>Late fee valid until 15.11.2025</strong></td>
                <td>20 €</td>
                <td>30 €</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
