<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's Brainhack Donosti?</h2>
                    <h3 class="section-subheading text-muted">

From the BrainHack organizing team we are happy to present Brainhack Donostia 2023.




A gender-balanced board of researchers from BCBL invites you to join a three-day in-person workshop focused on project development to foster new ideas, findings and future collaborations. In addition, we will host four international keynote speakers that will share their experience on state of the art methods, good practices in science and hot topics in research nowadays. By doing so, we will continue to grow our contributions towards sharing knowledge openly and transparently across disciplines and specialties, and to the development of open-source tools. 
</h3>
<h3 class="section-subheading text-muted">
Brainhack Donostia is not an ordinary conference but an event focused on cooperation and collaboration in Neuroscience, as well as the promotion of Open Science. Our aim is to explore the multiple applications of neuroscience from a cross-disciplinary perspective. With this goal in mind, we bring together students, researchers, users, and non-academic industry professionals to learn about and develop collaborative projects. 
</h3>
<h3 class="section-subheading text-muted">
Brainhack Donostia is part of a larger initiative that holds simultaneous events all over the world with this same goal (brainhack.org). A cornerstone of Brainhack is the promotion of responsible research and innovation in an inclusive, open, and transparent manner. Accordingly, knowledge sharing activities and the use of open-source resources are two of the basic tenets of Brainhack..</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Invited speakers</h4>
                    <p class="text-muted">  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open source projects</h4>
                    <p class="text-muted"> </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community building</h4>
                    <p class="text-muted">.</p>
                </div>
            </div>
        </div>
    </section>
