<section id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:Yellow;">Social events | Networking</h2>
		</div>	
            <div class="col-lg-12">
		<h2 class="section-subheading" style="color:White;">Donostia Scavenger Hunt</h2>
		<p style="color:Yellow;">November, 21, 2023 </p>
		<p style="color:GhostWhite;">Are you ready to embark on an unforgettable journey filled with mystery and clues with your fellow BrainHackers? Look no further, because we're excited to invite you to an exciting Scavenger Hunt in the heart of Donostia! <br/>
		Don't miss out on the opportunity to explore Donostia in a unique and engaging way. Mark the date on your calendar and get ready for a hunt like no other! <br/></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
		    <p style="color:GhostWhite;">Prepare yourself with a  <a href="https://www.sansebastianturismoa.eus/en/">guide of Donostia City</a></p>
            </div>
<!--                     </div>
    <div class="row">
            <div class="col-lg-12">
		<h2 class="section-subheading" style="color:White;">Dinner at Cider House</h2>
		<p style="color:Yellow;">November, 23, 2023 </p>
		<p style="color:GhostWhite;">Are you ready to embark on a culinary journey that will delight your taste buds and immerse you in the rich traditions of the Basque Country? Join us for an unforgettable Cider House Dinner at Saizar Cider House!<br/>
		Prepare to indulge in a feast of mouthwatering dishes, all served in the warm and welcoming atmosphere of a traditional Basque cider house. This event promises an evening of incredible flavors, friendly camaraderie, and a genuine taste of Basque culture.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
		    <p style="color:GhostWhite;">Take a look to  <a href="https://www.sidrassaizar.com/en/cider-house/">Saizar Cider House</a></p>
            </div>
                    </div> -->
</div>
</section>
