<!--
<section id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:Yellow;">Social events | Networking</h2>
		</div>	
            <div class="col-lg-12">
		<h2 class="section-subheading" style="color:White;">Wine, Cheese and Games</h2>
		<p style="color:Yellow;">November, 25, 2024 </p>
		<p style="color:GhostWhite;">Join us for a nice evening to get to know your fellow Brainhackers around wine, cheese and games! Non-alcoholic beverages and gluten-free options will also be available.</p>
            </div>
        </div>
    <div class="row">
            <div class="col-lg-12">
		<h2 class="section-subheading" style="color:White;">Donostia Scavenger Hunt and Pintxos dinner!</h2>
		<p style="color:Yellow;">November, 26, 2024 </p>
		<p style="color:GhostWhite;">Are you ready to embark on an unforgettable journey filled with mystery and clues with your fellow BrainHackers? Look no further, because we're excited to invite you to an exciting Scavenger Hunt in the heart of Donostia! <br/>
		Don't miss out on the opportunity to explore Donostia in a unique and engaging way. Mark the date on your calendar and get ready for a hunt like no other! <br/></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
		    <p style="color:GhostWhite;">Prepare yourself with a  <a href="https://www.sansebastianturismoa.eus/en/">guide of Donostia City</a></p>
            </div>
                    </div>
</div>
</section>
-->
