<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include program.html %}
    {% include portfolio_grid.html %}
    {% include projects.html %}
    
    {# {% include registration_main.html %} #}

    {% include about.html %}
    {% include team.html %}
    {% include conduct.html %}
    {% include contact.html %}
    {% include clients.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
